<!-- In this HTML file it displays the quiz app-->
<div class="quiz-container">
  <h1>Quiz-Angular!</h1>
  <div *ngIf="currentQuestion as question" class="question-container">
    <h2>Question {{currentQuestionIndex + 1}}/{{questions.length}}</h2>
    <p>{{question.text}}</p>

    <ul class="options-grid">  <!-- In this class it displays the answer options and handles the selection-->
      <li *ngFor="let option of question.options"
        [class.selected]="isSelected(option)"
        (click)="selectAnswer(option)">
        <input type="radio" name="answer" [checked]="isSelected(option)"> {{ option }}
      </li>
    </ul>
<!--uses button to move back and forth in the quiz-->
    <div class="navigation-buttons">
      <button (click)="previousQuestion()" [disabled]="currentQuestionIndex === 0">Previous</button>
      <button (click)="nextQuestion()" [disabled]="currentQuestionIndex === questions.length - 1">Next</button>
      <button class="finish-button" (click)="goToResults()" [disabled]="currentQuestionIndex !== questions.length - 1">Finish Quiz</button>
    </div>
  </div>
</div>


